{{#partial "content" }}

{{/partial}}

<div class="  navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/addsighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>
<div class="home">
<h1>I have been fighting to survive<br>since I was child<br>I am not a survivor <br> I am WARRIOR.... </h1>
</div>
<style>

</style>
{{#partial "content"}}


{{/partial}}

{{> layout.hbs}}