{{#partial "content" }}

{{/partial}}

<div class="  navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/addsighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>

    <div class="container">
         {{#if animal}}
             {{#each animal}}
                 <div class="success">
                <p>Animal's name: {{name}}</p>
                <p>Animal's health:{{health}}</p>
                <p>animal's age:{{age}}</p>
                 </div>
            {{/each}}
            {{/if}}
    </div>

{{#partial "content"}}
{{/partial}}

{{> layout.hbs}}