{{#partial "content" }}

{{/partial}}

    <div class="container">
         {{#if animal}}
             {{#each animal}}
                <p>Animal's name: {{name}}</p>
            {{/each}}
            {{/if}}
    </div>

{{#partial "content"}}
{{/partial}}

{{> layout.hbs}}