{{#partial "title" }}
    Welcome to wild-life tracker
{{/partial}}

<div class="  navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/sighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
   <form action="/newanimal">
       <div class="form-group" >
           <label for="name">Enter Hero Name</label>
           <input type="text" id="name" name="name" class="form-control" required>
       </div>
       <div class="form-group">
           <label>Endangered</label>
           <input type="checkbox" name="endangered">
       </div>
       <div class="form-group">
           <button type="submit" class="btn">Add Animal</button>
       </div>
   </form>
</div>

<!--index.hbs.-->
{{#partial "content"}}


{{/partial}}

{{> layout.hbs}}