{{#partial "content" }}
    Welcome to wild-life tracker
{{/partial}}

<div class="  navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/sighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>

<!--index.hbs.-->
{{#partial "content"}}


{{/partial}}

{{> layout.hbs}}