{{#partial "content" }}

{{/partial}}

<div class=" navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/addsighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>

    <div class="container">
        <div class="taa">
        <h2> Animal Sighting</h2>
        <form action="/sighting" method="post">
            <label>Location </label>
            <input type="text" name="location" class="form-control" placeholder="type location ..." required>
            <br>
            <label>Ranger name</label>
            <input type="text" name="name" class="form-control" placeholder="type ranger name ..." required>
            <br>
            <button type="submit" style="background-color:#4d2600; color : white;">Submit Report</button>
        </form>
    </div>
    </div>

{{#partial "content"}}


{{/partial}}

{{> layout.hbs}}