{{#partial "content" }}

{{/partial}}

<div class=" navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Add animal</a></li>
                <li><a href='/animals'>All animal</a></li>
                <li><a href='/sighting'>Post sighting</a> </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

        <h2>Endangered Animal Sighting</h2>
        <form action="/sighting" method="post">
            <label>Select Endangered Animal</label>
            <select name="endangeredAnimal">
                <option value="endangeredAnimal">Endangered animals</option>
            </select>
            </br>
            <label>Health</label>
            &emsp;<select name="health">
            <option>Sick</option>
            <option>Okay</option>
            <option>Healthy</option>
        </select>
            <br>
            <label>Age</label>
            <select name="age">
            <option>Newborn</option>
            <option>Young</option>
            <option>Adult</option>
        </select>
            </br>
            <label>Location</label>
            <input type="text" name="latLong">
            </br>
            <label>Your Name</label>
            <input type="text" name="rangerName">
            <br>
            <button type="submit" class="btn">Submit Report</button>
        </form>
    </div>
<!--    <div class="col-sm-6">-->
<!--        <h2>Non-Endangered Animal Sighting</h2>-->
<!--        <form action="/sighting" method="post">-->

<!--            <label>Select Animal</label>-->
<!--            &emsp;<select name="animalSelected">-->

<!--            <option value="{{name}}">Select animals</option>-->

<!--        </select>-->
<!--            </br>-->
<!--            <label>Location</label>-->
<!--            &emsp;<input type="text" name="latLong">-->
<!--            </br>-->
<!--            <label>Your Name</label>-->
<!--            &emsp;<input type="text" name="rangerName">-->
<!--            </br>-->
<!--            <button type="submit" class="btn">Submit Report</button>-->

<!--        </form>-->
<!--    </div>-->
</div>
</div>

{{#partial "content"}}


{{/partial}}

{{> layout.hbs}}